/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
#navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  transition: background-color 0.5s;
}
#navbar .logo {
  height: 28px;
  margin-left: 2%;
  margin-top: 10px;
}
#navbar .logo a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  letter-spacing: 2px;
}
#navbar #navItem-div {
  display: flex;
  align-items: center;
}
#navbar #nav_item {
  display: flex;
  gap: 45px;
}
#navbar #nav_item .nav_list {
  color: white;
  list-style: none;
  margin-bottom: 0px;
  text-transform: capitalize ;
  font-size: 14px;
}
#navbar .btn {
  background-color: white;
  text-transform: capitalize;
  height: 26px;
  width: 90px;
  border-radius: 15px;
  margin-top: 12px;
  border: none;
}
.sec-1 {
  width: 100%;
  height: 100vh;
  background-color: cyan;
  font-size: 39px;
  color: #e4820b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-2 {
  width: 100%;
  height: 100vh;
  background-color: #2911e1;
  font-size: 39px;
  color: #0be42b;
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar.active {
  background-color: cyan;
  box-shadow: 1px 1px 10px 1px white;
}
#navbar.active .nav_list,
#navbar.active .loogo {
  color: #e50a0a !important;
}
#navbar.active .btn {
  background-color: red !important;
  color: cyan;
}
